.main-page {
  width: 100%;
  background-image: url(/assets/images/main-page/background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  background-color: #000;
}
.main-page-logo {
  padding: 20px 16px 16px;
  width: 229px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.main-page-phone {
  padding-bottom: 36px;
  padding-top: 36px;
  display: flex;
  justify-content: center;
}
.main-page-phone-logo {
  width: 24.14px;
  height: 24.14px;
}
.main-page-phone-num {
  text-decoration: none;
  margin-left: 12px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.main-page-phone-wrapper {
  display: flex;
  align-items: center;
}
.main-page-whatsapp {
  display: flex;
  justify-content: center;
}
.main-page-whatsapp-text {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 8px 0px 8px 9px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
}
.main-page-whatsapp-logo {
  width: 21px;
  height: 21px;
}
.main-page-whatsapp-wrapper {
  display: flex;
  border: 1px solid #ffffff;
  border-radius: 2px;
  padding: 0px 16px 0px 16px;
  align-items: center;
}
.main-page-filling-headline {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

.main-page-filling-sub-free-consult {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 600;
}
.main-page-filling-sub-payment {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 600;
}
.main-page-filling-sub-following {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 600;
}

.main-page-form {
  width: 296px;
  background-color: #fff;
  margin-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.main-page-form__wrapper {
  /* top | right | bottom | left */
  padding: 16px 16px 32px 16px;
}
.main-page-form-fill__headline {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  font-size: 18px;
  margin-top: 0;
}

.main-page-form-fill__tel {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.main-page-form-fill__reason {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.main-page-form-fill__tel-input{
    width: 100%;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #DADAE0;
}
.main-page-form-fill__dropdown{
    width: 100%;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #DADAE0;
}
.main-page-form-fill__submit{
    border: none;
    border-radius: 2px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    margin-top: 24px;
    height: 40px;
    margin-bottom: 32px;
}

@media (min-width: 320px) {
  .container {
    width: auto !important;
  }
}
@media (min-width: 768px) {
  .container {
    width: auto;
  }
}
