.map-contact-screen {
  padding-top: 64px;
  padding-left: 16px;
  padding-right: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32px;
}
.social-media {
  display: flex;
}
.social-media p {
  padding-left: 10px;
}

#map {
  width: 100%;
  height: 300px;
}

.map-contact-onmap {
  width: 450px;
  height: 580px;
}
.wrapper-onmap {
  width: 450px;
  height: 580px;
}
.map-contact-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
}
.map-adress-subheader {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.map-moscow {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.map-spb {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.map-tel-subheader {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.map-tel-1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.map-tel-2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.map-email-subheader {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.map-email a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  color: #11b7e9;
}
.follower-vk {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.follower-insta {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
@media (min-width: 768px) {
  .map-contact-screen {
    position: relative;
    width: 472px;
    padding-left: 100px;
    padding-right: 100px;
  }
  #map {
    height: 678px;
  }
}

@media (min-width: 1200px) {
  .map-contact-screen {
    position: absolute;
    background-color: #ffffff;
    z-index: 10;
    position: absolute;
    right: 0;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 450px;
    padding-left: 100px;
    padding-right: 100px;
    margin-right: 200px;
  }
}

@media (min-width: 992px) {
  .map-contact-screen {
    position: absolute;
    background-color: #ffffff;
    z-index: 10;
    position: absolute;
    right: 0;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 450px;
    margin-right: 200px;
  }
  #map {
    height: 725px;
  }
}
@media (min-width: 320px) {
}
